@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .nav {
        @apply block py-2 px-3 md:p-0 font-semibold text-green-dark hover:text-white;
    }

    .title {
        @apply text-5xl font-bold text-lime-900 text-center p-5 dark:text-white
    }
}


.main-background {
    background-image: url("/left-bg.png"), url("/right-bg.png");
    background-position: left top, right top;
    background-repeat: no-repeat, no-repeat;
    background-size: 15% 100%, 15% 100%;
    background-attachment:fixed;
    min-height: 100vh;
    width: 100%;
}

@media (max-width: 640px) {
    .main-background {
        background-image: none;
    }
}

.singInUp-background {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.singInUp-background::before {
    content: "";
    background-image: url('/home-bg.jpg');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.5;
}

.nav-link-container {
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-link {
    padding: 10px 10px;
    display: block;
    text-decoration: none;
    border-radius: 10px;
}

.nav-link:hover {
    background-color: #97c279;
}


.body-no-scroll {
    overflow: hidden;
}

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.circle {
    width: 100px;
    /* Adjust size of the circle */
    height: 100px;
    position: relative;
    animation: spin 4s linear infinite;
}

.emoji {
    position: absolute;
    font-size: 2rem;
    width: 100%;
    /* Full width of the circle container */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-origin: 50% 50%;
    transform: rotate(calc(360deg / 4 * var(--i))) translateX(50px);
    /* Adjust translation based on circle radius */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* remove background image on smaller screens */
@media (max-width: 768px) {
    .main-background {
        background-image: none;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(20px);
    }
}

.fade-in {
    animation: fadeIn 0.5s ease-out forwards;
}

.fade-out {
    animation: fadeOut 0.5s ease-out forwards;
}

.hide-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }  