@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .nav {
        @apply block py-2 px-3 md:p-0 font-semibold text-green-dark hover:text-white;
    }
}

.main-background {
    background-image: url("/left-bg.png"),url("/right-bg.png");
    background-position: left top, right top;
    background-repeat: no-repeat, no-repeat;
    background-size: 15% 100%, 15% 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.singInUp-background {
    position: relative; 
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.singInUp-background::before {
    content: "";
    background-image: url('/home-bg.jpg');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.5;
}

.nav-link-container {
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-link {
    padding: 10px 10px;
    display: block;
    text-decoration: none;
    border-radius: 10px;
}

.nav-link:hover {
    background-color: #97c279;
}
