# opanai api chat
GPT_API_KEY=
GPT_CHAT_MODEL=
GPT_CHAT_TEMPERATURE=
GPT_CHAT_MAX_TOKENS=

# openai api image
DALL_E_MODEL=
DALL_E_IMAGE_SIZE=

# jwt
JWT_SECRET_KEY=

# google login
GOOGLE_APP_ID=
GOOGLE_APP_SECRET=

# facebook login
FACEBOOK_APP_ID=
FACEBOOK_APP_SECRET=

# x login
TWITTER_CONSUMER_KEY=
TWITTER_CONSUMER_SECRET=

# MySQL database
DB_HOST=
DB_PORT=
DB_USER=
DB_PASS=
DB_NAME=